input
{
    display: block;
    background-color: rgb(235, 235, 235);
    border: none;
    margin-bottom: 12px;
    font-size: 20px;
    padding: 10px;
    padding-right: 100px;
}

button
{
    margin-top: 10px;
    border: none;
    height: 50px;
    width: 170px;
    margin-right: 10px;
    font-size: 17px;
}

.first
{
    background-color: black;
    color: white;
}

.second
{
    padding-left: 20px;
    padding-right: 20px;
}