.friend img
{
    width: 200px;
}

img
{
    height: 160px;
}

.container
{
    display: flex;
}
.friend
{
    height: 300px;
    display: inline-block;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
    margin-right: 10px;
}

.name
{
    margin-top: 10px;
    font-weight: bold;
    font-size: 20px;
    margin-left: 5px;
}


.commun_friends
{
    color: gray;
    margin-top: 10px;
    margin-left: 5px;
}

.Add
{
    margin-top: 15px;
    color: white;
    background-color: rgb(40, 40, 239);
    display: inline-block;
    width: 120px;
    height: 40px;
    font-size: 20px;
    text-align: center;
    padding-top: 13px;
}